/* Header Section */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #fff;
    /* border-bottom: 1px solid #eee; */
    /* box-shadow: 0 1px 3px rgba(0, 0, 0, .1); */
    /* position: fixed; */
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav li {
    margin: 20px;
    list-style: none;
}

nav li a {
    text-decoration: none;
    color: #000;
}